{% extends 'base/base.html' %}

{% block title %}Resgistrate{% endblock %}
{% block estilo %}
  <style type="text/css">
body {

  background: url(../../static/img/bg_r.jpg) no-repeat center top;

}

  </style>
{% endblock %}
{% block navbar %}
{% endblock %}

{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}
{% block content %}
<br>
 <form method="POST" id="registroForm" style="text-align: left; padding-left: 300px;">
       {% csrf_token %}
       <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Nombre</label>
            <input class="form-control" type="text" name="first_name" id="first_name" placeholder="Ingrese su nombre" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Apellidos</label>
            <input class="form-control" type="text" name="last_name" placeholder="ingrese sus apellidos" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Nombre de usuario</label>
            <input class="form-control" type="text" name="username" placeholder="Ingrese su username" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Correo</label>
            <input class="form-control" type="text" name="email" placeholder="Ingrese su email" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Contraseña</label>
            <input class="form-control" type="password" name="password1" placeholder="Ingrese password" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label class="registro">Confirmar contraseña</label>
            <input class="form-control" type="password" name="password2" placeholder="Confirme password" readonly>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <button  class="btn btn-outline-success btn-lg" type="submit">Guardar</button>
            &nbsp;&nbsp;<input type="button" onclick="limpiarRegistroForm();" class="btn btn-outline-danger btn-lg" value="Cancelar">
          </div>
        </div>
    </div>
 </form><br>
{% endblock %}
