{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}Mercaempleado{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}"/>
  <!--Para Google-->
  <meta name="google-site-verification" content="03DIQ4UpHjnQ_8H8HtZ-bVhYEYKUUMCfdUJZ8CKZMec" />
  <meta name="autor" content="Estudiantes de la Universidad de El Salvador" />
  <meta name="keywords" content="empleo,mercado,trabajo,curriculum,profesionales,oficios,servicios"/>
  <meta name="description" content="Mercaempleado, somos una plataforma web que impulsa la obtencion facil de un empleo permanete o temporal,atravez de publicaciones de ofertas de trabajo de la empresa o simplemente una persona necesitando un servicio personal" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@mercaempleado"/>
  <meta name="twitter:creator" content="@Marcofl97"/>
  <meta name="twitter:url" content="http://mercaempleado.herokuapp.com"/>
  <meta name="twitter:title" content="Mercaempleado"/>
  <meta name="twitter:description" content="Mercaempleado, somos una plataforma web que impulsa la obtencion facil de un empleo permanete o temporal."/>
  <meta name="twitter:image" content="http://mercaempleado.herokuapp.com/static/img/logo_oficial.jpg">

  <meta property="og:title" content="MercaEmpleado"/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://mercaempleado.herokuapp.com/" />
  <meta property="og:description" content="Mercaempleado, somos una plataforma web que impulsa la obtencion facil de un empleo permanete o temporal,atravez de publicaciones de ofertas de trabajo de la empresa o simplemente una persona necesitando un servicio personal"/>
  <meta property="og:image" content="http://mercaempleado.herokuapp.com/static/img/intro-carousel/1.jpg"/>
  <meta property="og:site_name" content="MercaEmpleado"/>
  <meta property="og:locale" content="El Salvador"/>
  <meta property="fb:admins" content="2374719745891252" />
  <meta property="fb:app_id"    content="800298976976700"/>



  <!-- Favicons -->  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129408691-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129408691-1');
  </script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->

  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->

  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% block estilo %}

{% endblock %}
  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  {% endblock %}
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    {% block header %}
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="{% url 'home' %}" class="scrollto">Mercaempleado</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
      {% if user.is_authenticated %}
      <nav id="nav-menu-container">
        {% block navbar %}
        <ul class="nav-menu">  
          <li class="menu-active"><a href="{% url 'home' %}"><i class="fas fa-home"></i>Inicio</a></li>
          
          <li><a href="#services"><i class="fas fa-file-alt"></i>Servicios</a></li>
          <li><a href="{% url 'perfil' %}"><i class="fas fa-user-circle"></i>Perfil</a></li>

          <li class="menu-has-children"><a href="{% url 'buscar-empleado' %}"><i class="fas fa-binoculars"></i> Buscar Empleados</a>
          </li>

         
          <li><a href="#team"><i class="fas fa-newspaper"></i>Publicaciones</a>
            <ul>
              <li><a href="{% url 'crearPublicacion' %}">Crear Publicacion</a></li>
            </ul>
          </li>

          

          <li class="menu-has-children"><a href="{% url 'categorias' %}"><i class="fas fa-filter"></i>Categorias</a>
            <ul>
              <li><a href="{% url 'categorias' %}">Economia</a></li>
              <li><a href="#">Ingenieria</a></li>
              <li><a href="#">Licenciaturas</a></li>
              <li><a href="#">Oficios</a></li>
            </ul>
          </li>

          <li><a href="#about"><i class="fas fa-users"></i>Acerca de Nosotros</a></li>
          <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
        </ul>
        {% endblock %}
      </nav>
      {% endif %}
      <!-- #nav-menu-container -->
    </div>
    {% endblock %}
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  {% block intro %}
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/1.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Somos profesionales</h2>
                <p>La Plataforma Web mas interactiva del mundo ofreciendo servicios creados por la misma comunidad perteneciente al sitio, permitiendo la comunicacion, Contratacion y busqueda de empleo formal u informal.</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Iniciar sesion</a>
                <a href="{% url 'registrarse' %}" class="btn-get-started scrollto">Registrarse</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/2.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Una Red de Empleos</h2>
                <p>Una comunidad comprometida con el amplio desarrollo del empleo donde encontraras empresas que deseen contratar personas con cualidades especificas, o tambien encontraras personas que contraten a otras personas con habilidades de cualquier tipo para que hagan una deterrminada actividad</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Iniciar sesion</a>
                <a href="{% url 'registrarse' %}" class="btn-get-started scrollto">Registrarse</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/3.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Tus Habilidades Como Persona</h2>
                <p>Es uno de nuestros pilares y lo que mas nos importa de ti que puedas dar a conocer tus conocimientos en determinadas actividades con el fin de que te contraten.</p>
               	<a href="{% url 'login' %}" class="btn-get-started scrollto">Iniciar sesion</a>
                <a href="{% url 'registrarse' %}" class="btn-get-started scrollto">Registrarse</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/4.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Tus Propositos como Empresa</h2>
                <p>Aqui encontraras un amplio numero de personas con ganas de trabajar con habilidades y cualidades a la medida de lo que tu buscas.</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Iniciar sesion</a>
                <a href="{% url 'registrarse' %}" class="btn-get-started scrollto">Registrarse</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/5.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Publicaciones</h2>
                <p>Podras ver tu como usuario de esta plataforma las diferentes ofertas laborales que hacen las diferentes empresas en las cuales puedes ya sea examinarte con un test hecho por la empresa o simplemente ponerte en contacto con la misma</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Iniciar sesion</a>
                <a href="{% url 'registrarse' %}" class="btn-get-started scrollto">Registrarse</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->
  {% endblock %}

{% block content %}
  
{% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    {% block footer %}
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 ">
            <h3>Mercaempleado</h3>
            <p class="text-justify">Somos una plataforma en la cual empresas y personas que buscan trabajo pueden ingresar aqui para ver ofertas de trabajo ya sean temporales o permanentes; tambien puedes ofrecer tus servicios.</p>
          </div>

          

          <div class="col-lg-4 col-md-6 ">
            <h4>Contactanos</h4>
            <p>
              Universidad de El Salvador <br>
              San Salvador,<br>
              El Salvador <br>
              <strong>Telefono:</strong> 2237 2154<br>
              <strong>Email:</strong> mercaempleado@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 ">

            <h4>¿Quieres Resivir Notificaciones?</h4>
            <p class="text-justify">Ingresa tu correo electronico en el siguiente campo y resive nuestras ultimas actualizaciones de empresas o personas que se unan a nuestra plataforma</p>
            <form action="" method="post" class="form-inline">
              {% csrf_token %}
              <input class="form-control" type="email" name="email"><input class="btn btn-primary" type="submit"  value="Suscribirse">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Mercaempleados</strong>. Todos los derechos reservados
      </div>
    </div>
    {% endblock %}
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js?fbclid=IwAR0U2OaqQbSAHn1PnCngHiHkxp_K6_9iWLlAq54-CChGppvVgHR9brFYpOg"></script>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->

  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->

  <script src="{% static 'js/main.js' %}"></script>
  {% block extrajs %}
  {% endblock %}

</body>
</html>
