{% extends 'base/base.html' %}
{% load static %}
{% block title %}Acerca De Nosotros{% endblock %}
{% block estilo %}

{% endblock %}
{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" bgcolor="red" >
		
	</div>
	<div class="col-md-2"></div>
</div>
<hr/>
<div class="text-center"><h2><i><b>¿Quienes somos nosotros?</b></i> </h2></div>
<hr/>
<br>
<br>
<p class="text-justify">Somos Actualmente estudiantes de Ingenieria en Sistemas Informaticos de la Facultad de ingenieria y arquitectura, de la Universidad de El Salvador</p>
<br>
<p class="text-justify">Nuestro Objetivo como estudiantes es desarrollarnos en la diferentes tecnologias de la web como podemos mencionar HTML, JavaScript, CSS, Frameworks como Boostrap y Django(Python), Ajax y asi ir a la vanguardia con la evolucion constante del mundo de la web</p>
<p class="text-justify"><b> Agradecemos el arduo trabajo del Ingeniero Balmore Ortiz por la enseñanza en la catedra de la materia de Tecnicas de programacion para internet</b></p> 
{% endblock %}