{% extends 'base/base.html' %}
{% load static %}
{% block title %}Acerca De Nosotros{% endblock %}
{% block estilo %}

{% endblock %}
{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" bgcolor="red" >
		
	</div>
	<div class="col-md-2"></div>
</div>

<div class="text-center"><h2>¿Quienes somos nosotros?</h2></div>

<p>Somos Actualmente estudiantes de Ingenieria en Sistemas Informaticos de la Facultad de ingenieria y arquitectura, de la Universidad de El Salvador</p>
<br>
<p>Nuestro </p> 
{% endblock %}