{% extends 'base/base.html' %}

{% block title %} Crear Publicacion {% endblock %}

{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}

{% block content %}
<br>
<div style="margin-left: 23.74%;" style="margin-right: 23.74%">
<h2 align="center">Crear Publicacion de Oferta de Trabajo</h2>

    <form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary">Guardar</button>
	<a href="{% url 'lista' %}" class="btn btn-warning">Volver a la lista</a> 
	<a href="{% url 'crearPerfil' %}" class="btn btn-warning">agregar nuevo Perfil Buscado</a> 
	</form>
</div>
{% endblock %}