{% extends 'base/base.html' %}


{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}

{% block content %}
<br><br>
<!--
<h1 class="text-center">Bienvenidos</h1>
<p>Detalles del usuario</p>
<hr/>
<dl class="dl-horizontal">
	<dt>Codigo:</dt>
	<dd></dd>
	<dt>Nombre:</dt>
	<dd></dd>
	<dt>Descripcion:</dt>
	<dd></dd>
	<dt>Tipo:</dt>
	<dd></dd>
	<dt>Puntacion:</dt>
	<dd></dd>
	<dt>Email:</dt>
	<dd></dd>
	<dt>Telefono:</dt>
	<dd></dd>
	<dt>Direccion:</dt>
	<dd></dd>
	<dt>Categoria:</dt>
	<dd></dd>

</dl>-->
<button  class="btn btn-primary">
	Agregar Preparacion
</button>
{% if not user.is_superuser %}
<input type="button" class="btn btn-secodary" name="btnGenCurriculum" onclick="location.href='{% url 'curriculum' %}'" id="btnGenCurriculum" value="Crear Curriculum">
<input type="button" class="btn btn-secodary" name="btnVerCurriculum" onclick="location.href='{% url 'verCurriculum' %}'" value="Ver Curriculum">
{% endif %}
<br><br>
{% endblock %}