{% extends 'base/base.html' %}


{% block intro %}
<section id="intro" style="height: 100px;">
  
</section>
{% endblock %}

{% block content %}
<br><br>
<h1 class="text-center">Bienvenidos</h1>
<p>Aqui van a ir los datos de los usuarios</p>
<button  class="btn btn-primary">
	Agregar Preparacion
</button>
{% if not user.is_superuser %}
<input type="button" class="btn btn-secodary" name="btnGenCurriculum" onclick="location.href='{% url 'curriculum' %}'" id="btnGenCurriculum" value="Crear Curriculum">
<input type="button" class="btn btn-secodary" name="btnVerCurriculum" onclick="location.href='{% url 'verCurriculum' %}'" value="Ver Curriculum">
{% endif %}
<br><br>
{% endblock %}